.txt{
    width: 520px;
    height: 540px;
    border: 1px solid black;
}
img{
    width: 500px;
    height: 500px;
    position: relative;
    left: 10px;
    top: 10px;
}
.txt-1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    position: relative;
    bottom: 200px;
    color: white;
}
.txt-2{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    position: relative;
    bottom: 270px;
    color: white;
}
.txt-3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    color: white;
    position: relative;
    bottom: 290px;

}